.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  background-color: White;
  color: black;
  width: auto;
  height: 600px;
}

.grid-title {
  font-size: 1.5em;
  padding: 10px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
}

img {
  padding-top: 10px;
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  max-width: 100%;
  max-height: 100%;
}

.grid-description {
  color: black;
  padding: 10px;
  margin-bottom: 10px;
}

.grid-features {
  margin-bottom: 10px;
}

.source-button {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background-color: #6804b4;
  color: white;
  margin-top: auto;
  margin-bottom: 10px;
  height: 40px;
  width: 100px;
  align-self: center;
}

.source-button:hover {
  background-color: #3e006d;
}
