header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3e006d;
}

.title-nav {
  font-family: "Courier New", Courier, monospace;
}

header nav select {
  display: none;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header ul li {
  display: inline-block;
}

header nav ul li a {
  display: block;
  width: 100%;
  padding: 1em;
  text-decoration: none;
  color: white;
}

/*
header ul li a:hover {
  background-color: #6804b4;
  width: 75%;
}
*/

@media (max-width: 1024px) {
  header nav ul {
    display: none;
  }
  header nav select {
    display: block;
    float: right;
    height: 50px;
    width: 100px;
    color: white;
    background-color: #6804b4;
  }
}
